.rowContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.catImgContainer{
    max-width: 200px;
    max-height: 200px;
    width: 200px;
    height: auto;
}

.catImgCell{
    width: 200px;
    height: auto;
}

td{
    border: 1px solid black;
}

table{
    width: 100%;
}
/* div{
    background-color: rgb(52, 52, 165);
} */